@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
/* reset css */
html
{
    font-size: 62.5%; /* 16 px * 62.5 % = 1.000 rem */
}
body
{
    font: 1.6rem 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6rem;
    background-color: #2d3436; 
}
h1,h2,h3,h4,p, figure,ol,ul
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
  
}
*
{
    box-sizing: border-box;
}
a
{
    text-decoration: none ;
    color: #000;
}

/*theme*/

header h1
{
    text-align: center;
    background-color: #dfe6e9 ;
    line-height: 5rem;
    font-weight: 100;

}
header h1 img
{
    vertical-align: -.1rem;
}
nav 
{
    background-color:#fff;
    padding: .1rem 0 0;
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
    line-height: 5rem;
}
nav ul li
{
    display: inline-block;
    margin:0  5rem 0;
}
nav ul li img 
{
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: -0.2rem;
    margin-right: 1rem;
}
figure 
{
    position:relative;
    background-color:#fff;
    max-width: 80rem;
    height: 40rem;
    margin : 10rem auto 10rem auto ;
    border-radius: .8rem;
   display: flex;
    
}
figure figcaption 
{
    padding: 5rem 0 0;
} 
figure figcaption h2 
{
    font-size: medium;
    font-weight: bolder;
    margin-bottom: 2rem;
}
figure figcaption ol{
    margin-top: 2rem;
    line-height: 2.5rem;
}
figure button
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color:#D14600;
    color: #fff;
    border-radius: 5px;
    padding: .5rem  .5rem;
    width: 20rem;
    margin: 10rem 1rem 1rem 24rem;
    border: none;
    font-size: inherit;
    cursor: pointer;
    line-height: 3.5rem;
}
button img
{
    filter: invert(100%);
    vertical-align: middle;
    margin-right: 0.3rem;
}
footer
{
    text-align: center;
    background-color: #fff;
    line-height: 3rem;
}

/* responsive */
@media screen and (max-width: 700px){
    body 
    {
        background-color:#fff;
    }
    main{
        max-width:30rem;
    }
    header
    {
        font-size: 2rem;
        text-align: center;        
    }
    nav ul li 
    {
        display: flex;
        margin: .8rem;
    }
    figure 
    {
        margin: 0 ;
        display: block;
    }
    figure figcaption h2 
    {
        padding-left: 2rem;
    }

    figure figcaption ol li 
    {
        padding-left: 1rem;
    }
    figure button 
    {
        margin:0 12rem ;
    }
    footer     
    {
       padding: 0rem;
       margin: 20rem auto 0;
       position: inherit; 
       bottom: 0;
       background-color: #eeecec;
    }
}