@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* reset css */
html{
    font-size: 62.5%; /* 16 px * 62.5 % = 1.000 rem */
}
body{
    font: 1.6rem 'Raleway', sans-serif;
    margin: 0;
    line-height: 1.6rem;
    background-color: #2d3436; 
}
h1,h2,h3,h4,p, figure,ol,ul{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 300;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none ;
    color: #000;
}
img{
    display: flex;
    width:100%;
    height:100%;    
}

/* theme css */

header h1{
    text-align: center;
    background-color: #dfe6e9 ;
    line-height: 5rem;

}
header h1::before{
    content: url(../favicon/favicon-32x32.png);
    vertical-align: -0.2rem;
    margin-right: 1rem;
    object-fit: contain;

}    
nav ul li img {
    height: 20px;
    width: 20px;
}
nav {
    background-color:#fff;
    padding: .1rem 0 0;
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
}
nav ul li {
    display: inline-block;
    margin:0  5rem 0;
}

/* nav{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #fff;
    line-height: 4rem;
 
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 1.5rem;
    text-transform: uppercase;
    vertical-align: center;
}

nav ul li img{
    margin : 0 auto 0 auto;
    width: 30%;
    height: 30%;
    padding: 5rem;
    
} */
figure {
    position:relative;
    background-color:#fff;
     max-width: 80rem;
     height: 40rem;
       margin : 10rem auto 10rem auto ;
        border-radius: .8rem;
       }
figure {
          display: flex;
        font-size: 14px;  
    }
figure figcaption h2 {
         font-size: medium;
         margin: .8rem;
          }

figure figcaption p   {
    margin: .8rem;

}

figure button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    background-color:#D14600;
    color: #fff;
    border-radius: 5px;
    padding: .5rem  .5rem;
    border-radius: .8rem;
   
   
}
button{
    margin: 10rem 1rem 1rem 24rem;
    position: absolute;
    display: flex;
    background-color: #D14600;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
button img{
    filter: invert(100%);
    display: flex;
    margin-top: 0.7rem;
    margin-left: 0.3rem;
}
footer{
    text-align: center;
    background-color: #fff;
    line-height: 3rem;
}

/* responsive */
@media screen and (max-width: 50.0rem){
    body {
        background-color:#fff;
    }

    header{
        font-size: 2rem;
        text-align: center;
        
    }
    nav ul li {
        display: flex;
        margin: .8rem;

    }

    main figure {
        margin: 0 ;
        display: block;
      
 }
    figure figcaption h2 {
        padding-left: 2rem;
    }

    FIGURE FIGCAPTION OL LI {
    padding-left: 1REM;
    }
     figure button {
        
        margin:0 12rem;
        
        
    }
    footer {
       padding: 0rem;
       position: absolute;
       background-color: #eeecec;
       
       
    }
}