@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
/* reset css */
html
{
    font-size: 62.5%; /* 16 px * 62.5 % = 1.000 rem */
}
body
{
    font: 1.6rem 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6rem;
    background-color:var(--color-bgc) ; 
}
h1,h2,h3,h4,p, figure,ol,ul
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
  
}
*
{
    box-sizing: border-box;
}
.material-symbols-outlined
{
    vertical-align: middle;
}
a
{
    text-decoration: none ;
    color: #000;
}

/*theme*/

    

:root
{
    --bgc-primary:#fff;
    --bgc-button:#d14600;
    --bgc-title: #DFE6E9;
    --bgc-hover :#D3D3D3;
    --color-text:#000;
    --color-bgc: #2d3436;


}
header h1
{
    text-align: center;
    background-color:var(--bgc-title);
    line-height: 5rem;
    font-weight: 100;
}
header h1 img
{
    vertical-align: -.1rem;
}
nav 
{
    background-color:var(--bgc-primary);
    padding: .1rem 0 0;
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
    line-height: 5rem;
}
nav ul li
{
    display: inline-block;
    margin:0 1rem 0;
    padding: 0 1rem 0 1rem;
}
nav ul li:hover
{
    background-color:var(--bgc-hover);
    border-radius: .6rem;
}
nav ul li img 
{
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: -0.2rem;
    margin-right: 1rem;
}
figure 
{
    position:relative;
    background-color:var(--bgc-primary);
    max-width: 80rem;
    margin : 10rem auto 10rem auto ;
    border-radius: .8rem;
    display: flex;   
}
figure figcaption 
{
    padding: 5rem 0 0;
} 
figure figcaption h2 
{
    font-size: medium;
    font-weight: bolder;
    margin-bottom: 2rem;
}
figure figcaption ol
{
    margin-top: 2rem;
    line-height: 2.5rem;
}
figure figcaption ol li
{
    font-weight: 350;
    margin-top: 2rem;
    line-height: 1.5rem;
}
figure button
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color:var(--bgc-button);
    color: var(--bgc-primary);
    border-radius: 5px;
    padding: .5rem  .5rem;
    width: 20rem;
    margin: 10rem 1rem 1rem 24rem;
    border: none;
    font-size: inherit;
    cursor: pointer;
    line-height: 3.5rem;
}
main figure button .material-symbols-outlined{
color: #fff;
}
button img
{
    filter: invert(100%);
    vertical-align: middle;
    margin-right: 0.3rem;
}
footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--bgc-primary);
}
/* responsive vertical*/
@media screen and (max-width: 60rem){
    body{
        background-color: #fff;
        height: 100vh;
    }
    main
    {
        margin: 0rem;
    }
    nav ul
    {
        display: block;
        margin: 0rem;
        padding: 0rem;
    }
    nav ul li
    {
        display: block;
        margin: 0rem;
        text-align: left;
    }
    figure 
    {
        display: block;
        width: auto;
        margin: 5rem auto;
    }
    figure img
    {
        display: block;
        width: 100%;

    }
    figure li
    {
        margin: 0 auto;
    }
    figure figcaption
    {
        margin: 0rem 1rem;
    }
    figure figcaption ol
    {
        margin: 5rem auto 3rem auto;
    }
    figure button
    {
        display: block;
        position: inherit;
        margin: 1rem auto;
        padding-top: 1rem;
    }
    footer{
        position: relative;
        width: auto;
    }
}

/* responsive horizontal */

@media screen and (orientation:landscape)
{
    nav ul li
    {
        display: inline-block;
        margin:0 1rem 0;
        padding: 0 1rem 0 1rem;
    }
    nav ul li:hover
    {
        background-color:var(--bgc-hover);
        border-radius: .6rem;
    }
    nav ul li img 
    {
        display: inline-block;
        height: 20px;
        width: 20px;   
        vertical-align: -0.2rem;
        margin-right: 1rem;
    }
    figure img{
        display: block;
        /* margin:  3rem auto ; */
        width: 100%;
    }
    figcaption{
        display: block;
        margin:  3rem auto ;
    }
}